.inlinecalculator {
  max-width: 750px;
  min-height: 350px;
  padding-bottom: 0;
}
.centre-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#result {
  display: flex;
  align-items: flex-start;
}
.notation {
  color: grey;
}
.van {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}

.two {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}
.btns.bst {
  height: 45px;
  margin: 0;
  width: 100%;
}
.btn-top {
  width: 100%;
  margin-bottom: 10px;
}
p.resultstring > span {
  font-size: 20px;
  line-height: 40px;
  display: block;
  text-align: left;
}

@media screen and (max-width: 820px) {
  #result {
    display: block;
    display: flex;
    align-items: center;
  }
  p.resultstring > span {
    font-size: 16px;
    line-height: 40px;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .inlinecalculator {
    padding-top: 20px;
  }
  .top-alco {
    padding-top: 140px;
  }
  #result {
    top: 343px;
    left: -5px;
  }
  .top-deluting {
    padding-top: 140px;
  }
  p.resultstring > span {
    font-size: 20px;
    line-height: 40px;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 375px) {
  #result {
    top: 343px;
    left: -5px;
  }
  p.resultstring > span {
    font-size: 20px;
    line-height: 40px;
    display: block;
    text-align: left;
  }
}
