.inlinecalculator {
  width: 100%;
}
.centre-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.van {
  width: 100%;
}
.two {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .inlinecalculator {
    min-height: 100px;
    display: flex;
    align-items: flex-start;
  }
  #result {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  #result {
    display: flex;
    left: -5px;
  }
  .inlinecalculator {
    min-width: 100%;
    margin-left: 1px;
  }
}
