.inlinecalculator {
  max-height: 300px;
}

.inlinecalculator {
  max-width: 980px;
  box-sizing: border-box;
  padding: 5px 380px 30px 30px;
  margin: 10px auto;
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  background: white;
  border-radius: 20px;
  background: #eff5f9;
  background: #e1ecf3;
  min-height: 250px;
}
.resultstring > span {
  font-size: 25px;
}

.inlinecalculator > label {
  padding: 5px;
  box-sizing: border-box;
}
.bst {
  margin-top: 10px;
}
.range input {
  background-size: 72% 100%;
}
.blacks {
  font-weight: 700;
}
div#result {
  align-items: center;
  text-align: center;
}
p.resultstring {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .select {
    width: 100%;
  }
  .inlinecalculator {
    min-height: 400px;
    min-width: 100%;
    padding: 0;
  }
  .row-2 {
    width: 100%;
    display: block;
    padding: 0;
  }
  #result {
    display: none;
    padding: 0;
  }
  .sosni {
    width: 100%;
    padding: 0;
  }
}
.centre-top {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  gap: 0px 15px;
}

.numrange {
  display: inline-block;
  width: 48%;
}
.van {
  width: 70%;
}
.two {
  width: 25%;
}
.btn-top {
  margin-top: 10px;
}
@media screen and (max-width: 822px) {
  #result {
    width: 275px;
  }
  .inlinecalculator {
    padding: 5px 300px 15px 15px;
  }
  .btn-top > button {
    max-width: 290px;
    margin-top: 0;
  }
}
@media screen and (max-width: 719px) {
  .numrange {
    width: 47%;
  }
}
@media screen and (max-width: 644px) {
  .two {
    display: block;
    width: 45%;
  }
  .van {
    width: 100%;
  }
  .btn-top > button {
    max-width: 290px;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .inlinecalculator {
    margin: 20px -15px;
    padding: 15px;
    border-radius: 0;
    box-shadow: none;
  }
  #result {
    display: none;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 100%;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  .inlinecalculator {
    max-width: 980px;
    box-sizing: border-box;

    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    background: #e1ecf3;
    min-height: 250px;
  }
  .van {
    width: 65%;
  }
  .two {
    width: 31%;
  }
  .btn-top > button {
    min-width: 100%;
  }
  .btn-top {
    width: 100%;
  }
  .inlinecalculator {
    padding-top: 135px;
    padding-bottom: 250px;
    position: relative;
  }
  #result {
    position: absolute;
    border: 1px solid grey;
    bottom: -70px;
    display: flex;

    left: 0px;
  }
}

@media screen and (max-width: 422px) {
  .btns,
  .bst {
    height: 50px;
    font-size: 17px;
  }
  .van {
    width: 63%;
  }
  .numrange,
  .hideparts,
  .active,
  .type1 {
    width: 47%;
  }
}
@media screen and (max-width: 375px) {
  .btns,
  .bst {
    height: 50px;
    font-size: 17px;
    color: #eff5f9;
    background-color: rgb(100, 179, 100);
  }
  .van {
    width: 63%;
  }
  .numrange,
  .hideparts,
  .active,
  .type1 {
    width: 47%;
  }
  .inlinecalculator {
    background-color: rgb(199, 204, 206);
  }
}
