* {
  margin: 0;
  padding: 0;
}
.articlewrap {
  max-width: 900px;
  padding: 10px 15px;
  margin: 20px auto 30px;
}
.articleBody {
  width: 100%;
}
.alcohol-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.alcohol-item {
  width: 220px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 236, 241);
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.4s;
  cursor: pointer;
}
.alcohol-item:hover {
  background-color: rgb(210, 222, 224);
  transform: scale(1.1);
}
.alcohol-item > p {
  font-size: 14px;
  color: rgb(56, 54, 54);
}
h5 {
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(34, 33, 33);
  text-decoration: none;
  font-size: 12px;
}
p {
  margin-top: 0;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
a {
  text-decoration: none;
}
