.inlinecalculator {
  max-width: 750px;
  min-height: 220px;
  padding-bottom: 0;
}
.centre-top {
  display: flex;
  flex-wrap: wrap;
}
.top-alco {
  margin-bottom: 20px;
}
.articleBody > p {
  text-align: left;
}

.b-centre {
  width: 200px;
}
.resultstring > span {
  text-align-last: left;
  text-align: left;
}
.resultstring {
  line-height: 20px;
  margin-bottom: 40px;
}

#resultimt {
  font-size: 15px;
  line-height: 10px;
}

.notation {
  color: grey;
}
.van {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}
#result {
  display: flex;
  justify-content: center;

  width: 47%;
}
.two {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}
.btns.bst {
  height: 45px;
  margin: 0;
  width: 100%;
}
.btn-top {
  width: 100%;
  margin-bottom: 10px;
}
.centre-top {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #result {
    display: block;
    display: flex;
    align-items: center;
    width: 40%;
  }
  .van {
    width: 100%;
  }
  .two {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #result {
    display: block;
    display: flex;
    align-items: center;
    width: 40%;
  }
  .van {
    width: 94%;
  }
  .two {
    width: 94%;
  }
}
@media screen and (min-width: 912px) {
  #result {
    display: block;
    display: flex;
    align-items: center;
    width: 45%;
  }
  .van {
    width: 100%;
  }
  .two {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  #result {
    display: block;
    display: flex;
    align-items: center;
    width: 42%;
  }
  .van {
    width: 100%;
  }
  .two {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .inlinecalculator {
    padding-top: 20px;
  }
  #result {
    top: 203px;
    left: -5px;
    width: 100%;
  }
  .top-deluting {
    padding-top: 140px;
  }
  .top-alco {
    padding-top: 100px;
  }
}

@media screen and (max-width: 375px) {
  #result {
    top: 206px;
    left: -5px;
  }
  .top-alco {
    padding-top: 100px;
  }
}
