.inlinecalculator {
  max-width: 750px;
  min-height: 350px;
  padding-bottom: 0;
}
.centre-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.b-centre {
  width: 200px;
}
.resultstring {
  text-align-last: left;
  background-color: none;
}
#resultimt {
  font-size: 20px;
  display: block;
}

.notation {
  color: grey;
}
.van {
  min-width: 100%;
  padding-bottom: 10px;
  margin: 0;
}

.two {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}
.btns.bst {
  height: 45px;
  margin: 0;
  width: 100%;
}
.btn-top {
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (max-width: 820px) {
  #result {
    display: block;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .inlinecalculator {
    padding-top: 20px;
  }
  #result {
    top: 273px;
    left: -5px;
  }
  .top-deluting {
    padding-top: 140px;
  }
}

@media screen and (max-width: 375px) {
  #result {
    top: 273px;
    left: -5px;
  }
}
