.row-res {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e1ecf3;
  width: 100%;
  padding-right: 24px;
}

.inlinecalculators {
  max-width: 510px;
  box-sizing: border-box;
  padding: 5px 0px 10px 24px;
  margin: 0px auto;
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #e1ecf3;
  min-height: 170px;
  padding-right: 4px;
}
#res {
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 4px;
  text-align: center;
  background-color: #fff;
  max-width: 100%;
  padding-top: 20px;
}
p.resultstring {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div#res {
  gap: 10px;
  padding-bottom: 20px;
}
#res > p {
  line-height: 45%;
}
.btn-top {
  width: 100%;
  padding-top: 20px;
}
.bst {
  width: 100%;
}
.topInput {
  display: flex;
  gap: 20px;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
label > span {
  font-size: 15px;
}
.label-row-top {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.checkbox {
  padding-top: 10px;
}
.span {
  font-weight: 600;
}
.password-end {
  cursor: pointer;
}
.copied {
  color: rgb(150, 240, 162);
}
.copy-message {
  color: rgb(150, 240, 162);
  display: block;
}

.span-el {
  background-color: #fbfcfc;
  border: 1px solid #dde5e7;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin: 0.5rem 1rem 0.5rem 0;
  min-width: 60px;
  padding: 10px 10px;
  position: relative;
  text-align: center;
}
.tops-content {
  margin-top: 15px;
}
h2 {
  margin-top: 15px;
}
h3 {
  margin-top: 15px;
}
p {
  margin-top: 10px;
}
@media screen and (max-width: 540px) {
  .inlinecalculators {
    padding-top: 15px;

    padding-left: 26px;
  }
}
@media screen and (max-width: 390px) {
  .topInput {
    display: flex;
  }
  label.numrange,
  .van {
    width: 55%;
  }
  .btn-top {
    max-width: 100%;
  }
  .btns,
  .bst {
    width: 100%;
  }
  .inlinecalculators {
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 16px;
  }
}
@media screen and (max-width: 375px) {
  .topInput {
    display: flex;
    gap: 10px;
  }
  label.numrange,
  .van {
    width: 47%;
  }
  .btn-top {
    max-width: 97%;
  }
  .btns,
  .bst {
    width: 100%;
  }
  .inlinecalculators {
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  label > span {
    font-size: 14px;
  }
}
